<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7"
    />

    <meta name="language" content="en-EN" />
    <meta name="author" content="karthikeyan" />
    <title>Karthikeyan</title>
    <meta name="description" content="karthikeyan Resume" />

    <meta property="og:title" content="karthikeyan" />
    <meta property="og:description" content="karthikeyan Resume" />

    <meta name="twitter:title" content="karthikeyan" />
    <meta name="twitter:description" content="karthikeyan Resume" />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />

    <style>
      .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
      }

      @keyframes octocat-wave {
        0%,
        100% {
          transform: rotate(0);
        }
        20%,
        60% {
          transform: rotate(-25deg);
        }
        40%,
        80% {
          transform: rotate(10deg);
        }
      }

      @media (max-width: 500px) {
        .github-corner:hover .octo-arm {
          animation: none;
        }
        .github-corner .octo-arm {
          animation: octocat-wave 560ms ease-in-out;
        }
      }
    </style>
  </head>

  <body id="body-app">
    <header class="line has-background-primary"></header>

    <section class="profile section">
      <div class="container">
        <div class="columns">
          <div class="column is-two-fifths">
            <h1 class="title is-size-3"><%= content.profile.name %></h1>
            <p class="subtitle"><%= content.profile.title %></p>
          </div>
          <div class="column is-2">
            <figure class="image image is-128x128">
              <img class="is-rounded" src="./images/karthi.jpg" />
            </figure>
          </div>
          <div class="column has-text-grey-light has-text-right-desktop">
            <p class="has-text-weight-light"><%= content.profile.city %></p>
            <p class="has-text-weight-light"><%= content.profile.phone %></p>
            <p class="has-text-weight-light"><%= content.profile.mail %></p>
          </div>
        </div>
      </div>
    </section>

    <div class="hr"></div>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="summary">
              <div
                class="title is-size-5 has-text-primary has-text-weight-bold"
              >
                SUMMARY
              </div>
              <div class="wrapper"><%= content.summary %></div>
            </div>

            <div class="experience">
              <div
                class="title is-size-5 has-text-primary has-text-weight-bold"
              >
                EXPERIENCE
              </div>

              <% content.experiences.forEach(function(experience){ %>
              <div class="item">
                <div class="is-size-5">
                  <b><%= experience.company %>,</b>
                  <span class="has-text-weight-semi-bold">
                    <%= experience.location %> — <i><%= experience.title %></i>
                  </span>
                </div>
                <div class="is-size-7"><%= experience.period %></div>
                <% if (experience.jobdesc.length > 0) { %>
                <ul style="list-style: disc; margin-left: 1em">
                  <% experience.jobdesc.forEach(function(job){ %>
                  <li><%= job %></li>
                  <% }); %>
                </ul>
                <% } %>
              </div>
              <% }); %>
            </div>

            <div class="education">
              <div
                class="title is-size-5 has-text-primary has-text-weight-bold"
              >
                EDUCATION
              </div>

              <% content.educations.forEach(function(education){ %>
              <div class="item">
                <div class="is-size-5">
                  <b><%= education.name %></b>, <br />
                  <span class="has-text-weight-semi-bold">
                    <%= education.city %> — <i><%= education.degree %></i>
                  </span>
                </div>
                <div class="is-size-7"><%= education.period %></div>
                <div><%= education.faculty %></div>
              </div>
              <% }); %>
            </div>
          </div>
          <div class="column">
            <div class="skills">
              <div
                class="title is-size-5 has-text-primary has-text-weight-bold"
              >
                COMPUTER SKILLS
              </div>
              <div class="wrapper">
                <% content.skills.forEach(function(skill){ %>
                <span class="skill-item <%= skill.category %>">
                  <%= skill.name %>
                </span>
                <% }); %>
              </div>
            </div>
            <div class="projects awards-section">
              <div
                class="title is-size-5 has-text-primary has-text-weight-bold"
              >
                Awards
              </div>
              <ul class="list-disc">
                <li class="item">
                  <p class="mb1">
                    Certificate - conforming to National Skills Qualification
                    Framework Level -
                    <i
                      >5 With Grade A (Ministry of skill development and
                      Entrepreneurship Gov of India)</i
                    >
                  </p>
                </li>
                <li class="item">
                  <p class="mb1">
                    Young Leader Award as an ACM
                    <i>Pallikaranai JC</i>
                  </p>
                </li>
                <li class="item">
                  <p class="mb1">
                    Outstanding performance as an ACM in South Chennai -
                    <i>Urappakkam JC</i>
                  </p>
                </li>
                <li class="item">
                  <p class="mb1">
                    1st rank in south chennai star fos for the month of Ranked
                    Top Performer of the Month many times -
                    <i>TATA DOCOMO</i>
                  </p>
                </li>
                <li class="item">
                  <p class="mb1">
                    Extra miler of the month for best performance -
                    <i>MTS</i>
                  </p>
                </li>
                <li class="item">
                  <p class="mb1">
                    Star of the Month for Best Performance -
                    <i>MTS</i>
                  </p>
                </li>
              </ul>
            </div>
            <div class="projects">
              <div
                class="title is-size-5 has-text-primary has-text-weight-bold"
              >
                JOB Responsibilities
              </div>
              <ul class="list-square">
                <li class="item">
                  <p class="mb1">
                    Excellent marketing skills. Belief in self confidence,
                    strength.
                  </p>
                </li>
                <li class="item">
                  <p class="mb1">Determination & dedication to work.</p>
                </li>
                <li class="item">
                  <p class="mb1">A friendly, competent and hard worker.</p>
                </li>
                <li class="item">
                  <p class="mb1">
                    Can work effectively as a part of a team or independently.
                  </p>
                </li>
                <li class="item">
                  <p class="mb1">
                    Believe in hard work & intelligence as part of duty.
                  </p>
                </li>
              </ul>
            </div>
            <div class="hobbies">
              <div
                class="title is-size-5 has-text-primary has-text-weight-bold"
              >
                HOBBIES
              </div>
              <div class="wrapper">
                <ul class="list-disc">
                  <% content.hobbies.forEach(function(hobby){ %>
                  <li class="mb1"><%= hobby %></li>
                  <% }); %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered copyritht-text">
        Copyright © 2020 by Karthikeyan
      </div>
    </footer>

    <footer class="line has-background-primary"></footer>
  </body>
</html>
